*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  color: #ffffff;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
}

.btn {
  text-decoration: none;
  padding: 3%;
  color: #ffffff;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 36px;
  font-weight: normal;
  padding: 0.5em 0 0.3em;
}

.rules {
  background-color: #1fcca4;
}

.start {
  background-color: #0197f6;
}

.rules:hover {
  background-color: #1cbb96;
}
.start:hover {
  background-color: #0090e9;
}

p {
  padding: 0 1em 2em;
}

.container > img {
  border-radius: 5px 5px 0 0;
}

ol {
  text-align: left;
  padding: 1em 3em 1em 5em;
}
.instructions {
  padding: 2em;
}

figure > img {
  width: 100%;
}
figcaption {
  font-style: italic;
  padding-bottom: 3em;
}
