*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  color: #ffffff;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  padding: 3%;
  color: #ffffff;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 36px;
  font-weight: normal;
  padding: 0.5em 0 0.3em;
}

.rules,
.index {
  background-color: #1fcca4;
}

.start {
  background-color: #0197f6;
}

.rules:hover,
.index:hover {
  background-color: #1cbb96;
}
.start:hover {
  background-color: #0090e9;
}

p {
  padding: 0 1em 2em;
}

ol {
  text-align: left;
  font-size: 15px;
  padding: 1em 3em 0 4em;
}

.instructions {
  padding: 1em;
}

figcaption {
  font-style: italic;
  padding-bottom: 1em;
}
.icon {
  width: 1em;
  filter: invert(100%);
}
li {
  padding-bottom: 1em;
}
img {
  width: 100%;
}
.container.game-intro {
  width: 350px;
}
figure {
  padding: 1em;
}

@media (min-width: 700px) {
  .container {
    width: 630px;
  }
  .instructions {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    flex: 1 1 50%;
  }
  figcaption {
    font-size: 13px;
  }
}
